:root {
  --nav-height: 152px;

  @include for-laptop-down {
    --nav-height: 112px;
  }

  --footer-height: 24px;
}

html {
  background-color: var(--white);
}

a {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

.main--container {
  min-height: calc(100vh - (var(--nav-height) + var(--footer-height)));
  padding: 0 var(--l-05);

  @include for-laptop-down {
    padding: 0 var(--l-03);
  }

  @include for-medium-screen-down {
    padding: 0 var(--l-01);
  }
}