.txt--green {
  color: var(--green-primary);

  a {
    color: var(--green-primary);
  }
}

.txt--italic {
  font-style: italic;
}

.flex--container {
  display: flex;
  align-items: center;
}

@include for-phone-only {
  .m-hide {
    display: none;
  }
}