:root {
  --primary-font: 'Basier Circle', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  // Brand Colors
  --white: #F2F4F3;
  --black: #001427;
  --slate: #3D405B;
  --green-primary: #708D81;
  --green-transparent: rgba(112, 141, 129, 0.3);
  --green-secondary: #A4B6AE;
  --green-light: #CBD5D1;

  // State Colors
  --green-status: #4A7C59;
  --red: #F2545B;
  --yellow: #DCC48E;
}