.p-home {
  .btn--container {
    a:nth-child(2) {
      padding-left: var(--c-04);
    }
  }

  .content--wrapper {
    padding-top: var(--l-05);

    h1 {
      margin-bottom: var(--c-07);
    }
  }
}