@import '../../scss/global/mixins';

.Navigation--container {
  padding: var(--l-04) var(--l-05);

  @include for-laptop-down {
    padding: var(--l-04) var(--l-03);
  }

  @include for-phone-only {
    padding: var(--l-01) var(--l-02);
    border-bottom: 1px solid var(--green-light);
  }


  .Navigation--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: var(--main-container-size);
  }

  .logo--container {
    &:hover {
      cursor: pointer;
    }
  }

  .link--container {
    a {
      margin-right: var(--c-07);

      @include for-laptop-down {
        font-size: var(--txt-xsm);
        margin-right: var(--c-06);
      }

      &:last-of-type {
        margin: 0;
      }
    }

    @include for-phone-only {
      display: none;
    }
  }
}