.Navigation--wrapper {
  display: flex;
  justify-content: space-between;
  padding: var(--l-04) var(--l-05); }
  @media screen and (max-width: 1440px) {
    .Navigation--wrapper {
      padding: var(--l-03) var(--l-05); } }
  .Navigation--wrapper .logo--container:hover {
    cursor: pointer; }
  .Navigation--wrapper .link--container a {
    margin-right: var(--c-07); }
    @media screen and (max-width: 1440px) {
      .Navigation--wrapper .link--container a {
        font-size: var(--txt-xsm);
        margin-right: var(--c-06); } }
    .Navigation--wrapper .link--container a:last-of-type {
      margin: 0; }

.NavigationLink {
  position: relative; }
  .NavigationLink.selected::before {
    --nav-indicator-size: 10px;
    content: '';
    position: absolute;
    width: var(--nav-indicator-size);
    height: var(--nav-indicator-size);
    display: block;
    background-color: var(--green-primary);
    border-radius: 50%;
    top: calc(var(--c-04) * -1);
    left: 50%;
    margin-left: calc((var(--nav-indicator-size) / 2) * -1); }

.Footer--wrapper nav {
  padding: 0 var(--l-05); }

.Footer--wrapper .links--wrapper {
  padding: var(--l-03) var(--l-03);
  border-top: 2px solid var(--green-transparent);
  display: flex;
  justify-content: flex-end; }

.Footer--wrapper .col-left {
  padding-right: var(--l-03);
  border-right: 2px solid var(--green-transparent); }

.Footer--wrapper .col-right {
  padding-left: var(--l-03); }

.Footer--wrapper li {
  font-size: var(--txt-xsm);
  color: var(--green-transparent);
  margin-bottom: var(--c-02); }
  .Footer--wrapper li.title {
    color: var(--black);
    margin-bottom: var(--c-05); }
  .Footer--wrapper li a {
    color: var(--green-transparent); }

.Footer--wrapper .legal-info {
  background-color: var(--green-primary); }
  .Footer--wrapper .legal-info .legal-info--content {
    padding: var(--l-01) var(--l-05);
    color: var(--white);
    font-size: var(--txt-xsm);
    text-align: left; }

:root {
  --primary-font: 'Basier Circle', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --white: #F2F4F3;
  --black: #001427;
  --slate: #3D405B;
  --green-primary: #708D81;
  --green-transparent: rgba(112, 141, 129, 0.3);
  --green-secondary: #A4B6AE;
  --green-light: #CBD5D1;
  --green-status: #4A7C59;
  --red: #F2545B;
  --yellow: #DCC48E; }

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

:root {
  --nav-height: 152px;
  --footer-height: 24px; }
  @media screen and (max-width: 1440px) {
    :root {
      --nav-height: 112px; } }

html {
  background-color: var(--white); }

a {
  color: var(--black);
  text-decoration: none;
  cursor: pointer; }

.main--container {
  padding: 0 var(--l-05);
  min-height: calc(100vh - (var(--nav-height) + var(--footer-height)));
  flex-flow: column; }

:root {
  --c-01: 3px;
  --c-02: 5px;
  --c-03: 10px;
  --c-04: 15px;
  --c-05: 20px;
  --c-06: 30px;
  --c-07: 40px;
  --c-08: 50px;
  --c-09: 60px;
  --l-01: 20px;
  --l-02: 30px;
  --l-03: 40px;
  --l-04: 60px;
  --l-05: 80px;
  --l-06: 120px;
  --l-07: 200px; }

@font-face {
  font-family: 'Basier Circle';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("/static/assets/fonts/basiercircle-regular-webfont.woff2") format("woff2"), url("/static/assets/fonts/basiercircle-regular-webfont.woff") format("woff"); }

@font-face {
  font-family: 'Basier Circle';
  font-style: italic;
  font-weight: 400;
  font-display: auto;
  src: url("/static/assets/fonts/basiercircle-regularitalic-webfont.woff2") format("woff2"), url("/static/assets/fonts/basiercircle-regularitalic-webfont.woff") format("woff"); }

@font-face {
  font-family: 'Basier Circle';
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url("/static/assets/fonts/basiercircle-medium-webfont.woff2") format("woff2"), url("/static/assets/fonts/basiercircle-medium-webfont.woff") format("woff"); }

@font-face {
  font-family: 'Basier Circle';
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url("/static/assets/fonts/basiercircle-bold-webfont.woff2") format("woff2"), url("/static/assets/fonts/basiercircle-bold-webfont.woff") format("woff"); }

:root {
  --scale: 1.333;
  --txt-base: 20px;
  --txt-xxsm: 11px;
  --txt-xsm: 15px;
  --txt-sm: 27px;
  --txt-md: 35px;
  --txt-lg: 47px;
  --txt-xl: 63px;
  --txt-xxl: 83px;
  --txt-super: 111px; }

.font-primary {
  font-family: var(--primary-font); }

.txt-base {
  font-size: var(--txt-base); }

.txt-xxsm {
  font-size: var(--txt-xxsm); }

.txt-xsm {
  font-size: var(--txt-xsm); }

.txt-sm {
  font-size: var(--txt-sm); }

.txt-md {
  font-size: var(--txt-md); }

.txt-lg {
  font-size: var(--txt-lg); }

.txt-xl {
  font-size: var(--txt-xl); }

.txt-xxl {
  font-size: var(--txt-xxl); }

.txt-super {
  font-size: var(--txt-super); }

.lh--1 {
  line-height: 1; }

.lh--1-2 {
  line-height: 1.2; }

.lh--1-33 {
  line-height: 1.33; }

.lh--1-5 {
  line-height: 1.5; }

.lh--2 {
  line-height: 2; }

html {
  font-family: var(--primary-font);
  color: var(--black);
  font-size: var(--txt-base); }

h1 {
  font-size: var(--txt-lg);
  color: var(--black);
  font-weight: 700;
  font-display: auto; }

h2 {
  font-size: var(--txt-md);
  color: var(--black);
  font-weight: 700;
  font-display: auto; }

.txt--green {
  color: var(--green-primary); }
  .txt--green a {
    color: var(--green-primary); }

.txt--italic {
  font-style: italic; }

.flex--container {
  display: flex;
  align-items: center; }

.p-dashboard .content--wrapper {
  padding-top: var(--l-05); }

.p-dashboard-header {
  justify-content: space-between;
  display: flex;
  padding: 0 var(--l-01);
  margin-bottom: var(--l-06); }
  .p-dashboard-header time {
    text-align: right;
    font-weight: 700; }

.p-dashboard-content {
  display: flex; }
  .p-dashboard-content .content--places {
    padding: 0 var(--l-03) 0 var(--l-01);
    flex: 1; }
  .p-dashboard-content .content--places header {
    display: flex;
    justify-content: space-between; }
  .p-dashboard-content .content--schedule {
    padding: 0 var(--l-01) 0 var(--l-03);
    flex: 1; }

.Button {
  text-decoration: none;
  padding: var(--c-05) var(--c-09);
  display: inline-block;
  border-radius: 100px;
  font-weight: 700;
  font-size: var(--txt-base);
  line-height: 1; }
  .Button.green {
    background-color: var(--green-primary);
    color: var(--white); }
  .Button.white {
    background-color: var(--white);
    color: var(--green-primary); }

.btn--container a:nth-child(2) {
  padding-left: var(--c-04); }

.content--wrapper {
  padding-top: var(--l-05); }
  .content--wrapper h1 {
    margin-bottom: var(--c-07); }


/*# sourceMappingURL=styles.chunk.css.map*/