.Footer--wrapper {
  margin-top: var(--l-07);

  @include for-tablet-down {
    margin-top: var(--l-05);
  }

  @include for-small-screen-down {
    margin-top: var(--l-04);
  }

  nav {
    padding: 0 var(--l-05);
  }

  .links--container {
    border-top: 2px solid var(--green-transparent);
    padding: var(--l-03) 0;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: var(--main-container-size);
  }

  .col {

    &-left {
      padding-right: var(--l-03);
      border-right: 2px solid var(--green-transparent);
    }

    &-right {
      padding-left: var(--l-03);
    }
  }

  li {
    font-size: var(--txt-xsm);
    color: var(--green-transparent);
    margin-bottom: var(--c-02);

    &.title {
      color: var(--black);
      margin-bottom: var(--c-05);
    }

    a {
      color: var(--green-transparent);
    }
  }

  .legal-info {
    background-color: var(--green-primary);
    padding: var(--l-01) var(--l-05);

    .legal-info--content {
      color: var(--white);
      font-size: var(--txt-xsm);
      text-align: left;
      @include main-container-styles;
    }
  }

  @include for-tablet-down {
    nav {
      padding: 0 var(--l-02);
    }

    .legal-info {
      padding: var(--l-01) var(--l-02);

      .legal-info--content {
        font-size: var(--txt-xxsm);
      }
    }

    .links--container {
      justify-content: flex-start;

      li {
        font-size: var(--txt-xxsm);
      }
    }
  }
}