.c-PlacesSquare {
  &--container {
    max-width: 280px;
  }

  .img-gallery--container {
    max-width: 280px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    border-radius: var(--container-radius);
    background-color: var(--green-light);
    max-height: 240px;
    height: 20vw;

    li {
      background-position: center;
      background-size: cover;
    }

    .gallery-item-3 {
      grid-column: 1 / -1;
    }
  }
}